<div class="modal-header">
    <div class="form-group">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3>Login</h3>
    </div>
</div>
<div class="modal-body">
    <!-- USERNAME -->
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model="username" ng-minlength="3" ng-maxlength="50" required>
        <p ng-show="form.userForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="form.userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="password" required>
        <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>
    
    <!-- SUBMIT -->
    <button class="btn btn-primary btn-block" ng-click="login()" ng-disabled="form.userForm.$invalid">OK</button>
    
    <hr>
    <button class="btn btn-primary btn-block" ng-click="facebookLogin()"><i class="fa fa-facebook-official">&nbsp;Sign in with Facebook</i></button>
</div>
<div class="modal-footer">
    <p>Not a member? <a href="">Create an account</a></p>
</div>
