<div class="modal-header">
    <div class="form-group">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3>Store Locator</h3>
    </div>
</div>
<div class="modal-body">
    <div id="mapcanvas" style="width:75%; height: 50%" class="map"></div>
<div class="modal-footer">
    <!-- SUBMIT -->
    <a href="#" class="btn btn-default btn-block" ng-show="blnShowNavigation" ng-click="ShowNavigation(upc)">Show Navigation</a>
    <a href="#" class="btn btn-default btn-block" ng-show="blnShowAddShoppingList" ng-click="AddToShoppingList(upc)">Add To Shopping List</a>
</div>
