/nbproject/nbproject/private/
/workspace/nbproject/nbproject/private/
install/ModuleCache/27NIAPT4FCULF/AudioToolbox-IDGAMJDSP9Z1.pcm
install/ModuleCache/27NIAPT4FCULF/AudioToolbox-IDGAMJDSP9Z1.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/AudioUnit-2SNSBNBLJEOKG.pcm
install/ModuleCache/27NIAPT4FCULF/AudioUnit-2SNSBNBLJEOKG.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/AVFoundation-7O317LEIB4Z2.pcm
install/ModuleCache/27NIAPT4FCULF/AVFoundation-7O317LEIB4Z2.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/CoreAudio-X7XIL788GQ9E.pcm
install/ModuleCache/27NIAPT4FCULF/CoreAudio-X7XIL788GQ9E.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/CoreLocation-DJ7O04274VT4.pcm
install/ModuleCache/27NIAPT4FCULF/CoreLocation-DJ7O04274VT4.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/CoreMedia-GG7O0RHFFJKF.pcm
install/ModuleCache/27NIAPT4FCULF/CoreMedia-GG7O0RHFFJKF.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/CoreMIDI-2EI6TA9W8P2TQ.pcm
install/ModuleCache/27NIAPT4FCULF/CoreMIDI-2EI6TA9W8P2TQ.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/ImageIO-1I03OOXLFD3W9.pcm
install/ModuleCache/27NIAPT4FCULF/ImageIO-1I03OOXLFD3W9.pcm.timestamp
install/ModuleCache/27NIAPT4FCULF/MediaToolbox-2PQ3KB1MW6AK4.pcm
install/ModuleCache/27NIAPT4FCULF/MediaToolbox-2PQ3KB1MW6AK4.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/AudioToolbox-IDGAMJDSP9Z1.pcm
install/ModuleCache/3FAC9MGB9HZCH/AudioToolbox-IDGAMJDSP9Z1.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/AudioUnit-2SNSBNBLJEOKG.pcm
install/ModuleCache/3FAC9MGB9HZCH/AudioUnit-2SNSBNBLJEOKG.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/AVFoundation-7O317LEIB4Z2.pcm
install/ModuleCache/3FAC9MGB9HZCH/AVFoundation-7O317LEIB4Z2.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/CoreAudio-X7XIL788GQ9E.pcm
install/ModuleCache/3FAC9MGB9HZCH/CoreAudio-X7XIL788GQ9E.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/CoreLocation-DJ7O04274VT4.pcm
install/ModuleCache/3FAC9MGB9HZCH/CoreLocation-DJ7O04274VT4.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/CoreMedia-GG7O0RHFFJKF.pcm
install/ModuleCache/3FAC9MGB9HZCH/CoreMedia-GG7O0RHFFJKF.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/CoreMIDI-2EI6TA9W8P2TQ.pcm
install/ModuleCache/3FAC9MGB9HZCH/CoreMIDI-2EI6TA9W8P2TQ.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/ImageIO-1I03OOXLFD3W9.pcm
install/ModuleCache/3FAC9MGB9HZCH/ImageIO-1I03OOXLFD3W9.pcm.timestamp
install/ModuleCache/3FAC9MGB9HZCH/MediaToolbox-2PQ3KB1MW6AK4.pcm
install/ModuleCache/3FAC9MGB9HZCH/MediaToolbox-2PQ3KB1MW6AK4.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/AudioToolbox-29TRZLCW5QLKV.pcm
install/ModuleCache/LTISUM5TIA5N/AudioToolbox-29TRZLCW5QLKV.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/AudioUnit-1R3FCTHQHAFWE.pcm
install/ModuleCache/LTISUM5TIA5N/AudioUnit-1R3FCTHQHAFWE.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/AVFoundation-2W8OQOO5E005V.pcm
install/ModuleCache/LTISUM5TIA5N/AVFoundation-2W8OQOO5E005V.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/CoreAudio-DU322UQPMITA.pcm
install/ModuleCache/LTISUM5TIA5N/CoreAudio-DU322UQPMITA.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/CoreLocation-2RB9TGORWT0YQ.pcm
install/ModuleCache/LTISUM5TIA5N/CoreLocation-2RB9TGORWT0YQ.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/CoreMedia-3JTCZ41S8BKUD.pcm
install/ModuleCache/LTISUM5TIA5N/CoreMedia-3JTCZ41S8BKUD.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/CoreMIDI-2OV5TK5CIMZXQ.pcm
install/ModuleCache/LTISUM5TIA5N/CoreMIDI-2OV5TK5CIMZXQ.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/ImageIO-YVI44K06S0WO.pcm
install/ModuleCache/LTISUM5TIA5N/ImageIO-YVI44K06S0WO.pcm.timestamp
install/ModuleCache/LTISUM5TIA5N/MediaToolbox-3N6MLXYI7H98P.pcm
install/ModuleCache/LTISUM5TIA5N/MediaToolbox-3N6MLXYI7H98P.pcm.timestamp
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/ActionSheet.d
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/ActionSheet.dia
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/ActionSheet.o
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/CDVCamera.d
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/CDVCamera.dia
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/CDVCamera.o
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/CDVJpegHeaderWriter.d
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/CDVJpegHeaderWriter.dia
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/CDVJpegHeaderWriter.o
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/UIImage+CropScaleOrientation.d
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/UIImage+CropScaleOrientation.dia
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Intermediates/Spotlightmart.build/Debug-iphoneos/Spotlightmart.build/Objects-normal/arm64/UIImage+CropScaleOrientation.o
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Products/Debug-iphoneos/Spotlightmart.app/www/plugins/cordova-plugin-actionsheet/www/ActionSheet.js
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Products/Debug-iphoneos/Spotlightmart.app/www/plugins/cordova-plugin-camera/www/Camera.js
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Products/Debug-iphoneos/Spotlightmart.app/www/plugins/cordova-plugin-camera/www/CameraConstants.js
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Products/Debug-iphoneos/Spotlightmart.app/www/plugins/cordova-plugin-camera/www/CameraPopoverOptions.js
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Build/Products/Debug-iphoneos/Spotlightmart.app/www/plugins/cordova-plugin-camera/www/ios/CameraPopoverHandle.js
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Index/Debug/iphoneos10.3-arm64/Spotlightmart.xcindex/db.xcindexdb
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Index/Debug/iphoneos10.3-arm64/Spotlightmart.xcindex/db.xcindexdb-shm
install/Spotlightmart-awhrrolbyqcyhxdkbcwmlaxpykdf/Index/Debug/iphoneos10.3-arm64/Spotlightmart.xcindex/db.xcindexdb-wal
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/CDVCamera.d
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/CDVCamera.dia
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/CDVCamera.o
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/CDVJpegHeaderWriter.d
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/CDVJpegHeaderWriter.dia
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/CDVJpegHeaderWriter.o
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/UIImage+CropScaleOrientation.d
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/UIImage+CropScaleOrientation.dia
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Build/Intermediates/Spotlightmart.build/Debug-iphonesimulator/Spotlightmart.build/Objects-normal/x86_64/UIImage+CropScaleOrientation.o
install/Spotlightmart-bawlhykrjpftscafhuucnqnqmzpl/Logs/Build/3B11A833-0358-4930-919A-CD4039EA5A42.xcactivitylog
