<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />
        <link href="css/ui-bootstrap-csp.css" rel="stylesheet" />
        <link href="css/font-awesome.css" rel="stylesheet" />
        <link href="css/bootstrap2-toggle.css" rel="stylesheet" />
        <title>Spotlightmart</title>
    </head>
    <body>
        <div ng-app="SpotlightmartApp" class="app">
            <div class="container navbar navbar-static-top"  ng-controller="indexCtrl">
                <div class="row row-eq-height bg-warning" >
                    <div class="col-xs-12 text-center"><img src="img/50x50_spotlightmart.png"/></div>
                </div>
            </div>
            <div ng-view></div>   
            <div id="footer">
              <div class="col-xs-12 navbar navbar-fixed-bottom bg-success">
                <div class="row row-eq-height" id="bottomNav" ng-controller="tabbarCtrl">
                    <div class="col-xs-3 text-center"><a ng-click="changeTab('Home')" ng-class="{ 'active disabled' : selectedTab == 'Home' }" href><i class="fa fa-home fa-3x"></i><br>Home</a></div>
                    <div  class="col-xs-3 text-center"><a ng-click="changeTab('Search')" ng-class="{ 'active disabled' : selectedTab == 'Search' }" href><i class="fa fa-search fa-3x"></i><br>Search</a></div>
                    <div  class="col-xs-3 text-center"><a ng-click="changeTab('Cart')" ng-class="{ 'active disabled' : selectedTab == 'Cart' }" href><i class="fa fa-shopping-cart fa-3x"></i><br>Cart</a></div>
                    <div  class="col-xs-3 text-center"><a ng-click="changeTab('Settings')" ng-class="{ 'active disabled' : selectedTab == 'Settings' }" href><i class="fa fa-cog fa-3x"></i><br>Settings</a></div>
                </div>
              </div>
            </div>
            <div id="fb-root"></div>
        </div>
        <!-- include -->
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/jquery.min.map"></script>
        <script type="text/javascript" src="js/vendor/angular.js"></script>
        <script type="text/javascript" src="js/vendor/angular-route.js"></script>
        <script type="text/javascript" src="js/vendor/angular-touch.js"></script>
        <script type="text/javascript" src="js/vendor/angular-animate.js"></script>
        <script type="text/javascript" src="js/vendor/ngStorage.js"></script>
        <script type="text/javascript" src="js/vendor/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap2-toggle.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/constant.js"></script>
        
        <!-- Libraries -->
        <script type="text/javascript" src="js/vendor/lokijs.js"></script>
        <script type="text/javascript" src="js/vendor/loki-angular.js"></script>
        <script type="text/javascript" src="js/vendor/loki-cordova-fs-adapter.js"></script>
        
        <!-- AngularJS include -->
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="js/vendor/cardflow.js"></script>
        <!-- Directives -->  
        
        <!-- Controllers -->    
        <script src="app/controllers/homeCtrl.js"></script>
        <script src="app/controllers/settingsCtrl.js"></script>
        <script src="app/controllers/tabbarCtrl.js"></script>
        <script src="app/controllers/personalCtrl.js"></script>
        <script src="app/controllers/mdlLoginCtrl.js"></script>
        <script src="app/controllers/mdlAccountCtrl.js"></script>
        
        <!-- Services -->
        <script src="app/Services/userService.js"></script>
        
        <!-- Angularjs App -->
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
