<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center"><img src="img/400x400_SpotlightLogo.png" style="width:50%; height: 10%"></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><h3>{{ name }}</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-danger"><span class="fa fa-desktop fa-lg"><span class="badge">1</span></span> </span></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-success" ng-click="ShowStoreLocatorModal()"><span class="fa fa-map-marker fa-lg"><span class="badge">3</span></span></button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="slider" style="border-top: 1px lightgrey solid; padding-top: 10px; border-bottom: 1px lightgrey solid; padding-bottom: 10px;">
            <div ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                ng-hide="!isCurrentSlideIndex($index)">        
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <img ng-src="{{ slide.img_url }}" />
                        </div>
                        <div class="col-xs-8">
                            <h4>{{ slide.quot }}</h4>
                            <br>
                            {{ slide.msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
