<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
            <table style="width: 100%; border: 1px solid #000000;">
                <tbody>
                    <tr ng-click="SettingClick()">
                        <td style="padding : 20px; width: 20%">
                            <img class="pull-left" style="width: 40px; height: 40px;" src="{{ oUser.photoSrc }}" />
                        </td>
                        <td>
                            <h4 class="pull-left">{{ oUser.firstname + " " + oUser.lastname}}</h4>
                        </td>
                        <td>
                            <span class="fa fa-chevron-right pull-right"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-block btn-primary fa-2x"><span class="fa fa-envelope"></span></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-block btn-primary fa-2x"><span class="fa fa-bell"></span></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-block btn-primary fa-2x"><span class="fa fa-money"></span></button>
        </div>
    </div>
</div>