<div class="container">
    <button class="btn btn-success btn-block" ng-click="AddCard()"><i class="fa fa-plus-circle">Add New Card</i></button>
    <hr>
    <ul class="list-group">
        <li class="list-group-item clearfix" style="width:100%" ng-repeat="card in oWallet track by card.cardno"
            ng-swipe-left="ToggleDeleteButton(card, true)" ng-swipe-right="ToggleDeleteButton(card, false)" >
            <a href="#" ng-click="EditCard(card)" class="pull-left"><i class="glyphicon glyphicon-credit-card">&nbsp;VISA-x{{ card.cardno | limitTo : -4 }}</i></a>
            <span class="pull-right button-group">
                <button class="btn btn-danger pull-right" ng-click="DeleteCard(card)" ng-show="ShowDeleteButton(card)">Delete</button>
            </span>
        </li>
    </ul>
</div>